* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    max-width: 1000px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.riga-1 {

}

.colonna {
    float: left;
    width: calc(100% / 3 - 8px);
    margin: 0 4px;
}

.prodotto {
    width: 100%;
    position: relative;
}

.sconto-rosso-verde {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}

.sconto-rosso {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;

}

.immagine {
    height: 400px;
    display: block;
}