* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.contenitore {
    max-width: 1000px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.scritte {
    padding-top: 10px;
    padding-bottom: 20px;
}

.colonna {
    float: left;
    width: calc(100% / 3 - 8px);
    margin: 0 4px;
}

.prodotto {
    width: 100%;
    position: relative;
}

.sconto-verde {
    background-color: green;
    color: white;
    position: absolute;
    left: 50px;
    bottom: 20px;
    padding: 3px;
}

.sconto-rosso {
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 3px;
}

.cuoricino {
    background-color: white;
    position: absolute;
    color: black;
    top: 10px;
    left: 308px;
    padding: 4px;
}

.immagine {
    height: 470px;
    display: table;
}

.prodotto-flip {
    width: 100%;
    position: relative;
}

.immagine1flip {
    height: 470px;
    display: table;
}

.immagine2flip {
    height: 470px;
    display: none;
}

.prodotto-flip:hover .immagine1flip {
    display: none;
}

.prodotto-flip:hover .immagine2flip {
    display: block;
}


.numeri-rossi {
    color: red;
}

.numeri-sbarrati {
    text-decoration: line-through;
    color: black;
}